:root {
  --red: rgb(202, 45, 45);
  --light-red: rgb(245, 119, 119);
  --black: rgb(0, 0, 0);
  --grey: rgb(100, 100, 100);
  --dark-grey: rgb(54, 54, 54);
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  width: 500px;
  height: 500px;
}

.small-grid {
  display: grid;
  grid-template-columns: repeat(10, 25px);
  grid-template-rows: repeat(10, 25px);
  width: 250px;
  height: 250px;
}

div .revealed {
  border: 2px dashed var(--red);
}

.results-display {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
  column-gap: 10px;
  width: 800px;
  height: 400px;
}

.results-display-column {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.winner-column {
  background-color: rgb(72, 199, 142);
  border-radius: 4px;
}

.disabled {
  pointer-events: none;
}

.square {
  border: 1px solid var(--black);
}

.ship-square {
  background-color: var(--red);
}

.ship-square-hit {
  background-color: var(--red);
}

.empty-square {
  background-color: var(--grey);
}

.empty-square-hit {
  background-color: var(--dark-grey);
}

.ship-square-sunk {
  background: repeating-linear-gradient(
    45deg,
    var(--light-red),
    var(--light-red) 10%,
    var(--red) 10%,
    var(--red) 20%
  );
}
